body {
  /*|Layout|*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*|Styling|*/
  background-image: url("../images/bg/BG5.webp");
  background-size: cover;
}

.infotext {
  margin-bottom: 28em;
  margin-top: 5em;
}
