body {
  /*|Layout|*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*|Styling|*/
  background-image: url("../images/bg/BG4.webp");
  background-size: cover;
}

main {
  max-width: 70%;
}

.contact {
  margin-top: 2em;
  width: fit-content;
  background-color: var(--prime-green);
  border: solid black 1px;
  padding: 10px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.contactcard {
  background-color: var(--secondary-green);
  justify-self: center;
  justify-content: center;
  width: 75%;
  align-items: center;
}
}

.contactcontent {
  justify-content: center;
  align-items: center;
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  width: 75%;
  justify-self: center;
  justify-content: center;
}
.company h1 {
  width: 100%;
}

.contactcard img {
  width: 50%;
  margin: 0 auto;
}

.icon img {
  justify-content: center;
}
