:root {
  /*|----------| colors |*/
  --primary-green: rgb(130, 191, 101);
  --secondary-green: rgb(87, 127, 68);
  --secondary-green-transparent: rgba(87, 127, 68, 0.5);
  --details-green: rgb(34, 64, 58);
  --cta-pink: rgb(249, 34, 156);
  --font-light: #fff;
  --font-dark: #000;

  /*|----------| Fonts |*/
  /*| Sizes |*/
  --h1-size: 48px;
  --p-size: 18px;
  --nav-li-size: 20px;
  --cta-font-size: 128px;

  /*|----------| Borders |*/
  --cta-borders: 1px;
}
