.infotext {
  margin-bottom: 7em;
}

.galpics {
  max-width: 1200px;
  margin: 0 auto; /* centrerer galleriet */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); klassisk 4 kolonner */
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
}

.galpics img {
  max-width: 200px;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: var(--cta-borders);
  filter: grayscale(0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border: 2px solid #000000;
  transition: 0.3s;
  &:hover {
    filter: none;
    width: 104%;
    border: 3px ridge var(--cta-color);
  }
}

body {
  /*|Layout|*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*|Styling|*/
  background-image: url("../images/bg/BG2.webp");
  background-size: cover;
  background-position: center;
}

