.galpics {
  max-width: 1200px;
  margin: 0 auto; /* centrerer galleriet */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* klassisk 4 kolonner */
  gap: 20px;
}

.galpics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--cta-borders);
  filter: grayscale(0.8);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.galpics img:hover {
  filter: none;
  width: 104%;
  
}
