.galpics {
  max-width: 1200px;
  margin: 0 auto; /* centrerer galleriet */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* klassisk 4 kolonner */
  gap: 20px;
}

.galpics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--cta-borders);
}
body {
  /*|Layout|*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*|Styling|*/
  background-image: url("../images/bg/BG2.webp");
}
