.logo {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  color: var(--prime-green);
}

header li {
  gap: 5%;
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  justify-content: baseline;
}

header li a {
  font-family: var(--nav-font);
}

/* ul {
  display: flex;
  justify-content: space-between;
} */

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

p {
  font-family: var(--p-font);
  font-size: var(--p-size);
}
