.logo {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  color: var(--prime-green);
  display: inline-block;
}

.logo img {
  display: block;
  width: clamp(90px, 12vw, 220px);
  height: auto;
}

header li {
  gap: 15px;
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  justify-content: baseline;
  transition: 0.2s;
  &:hover {
    background-color: var(--cta-color);
  }
}

header li a {
  font-family: var(--nav-font);
}

/* ul {
  display: flex;
  justify-content: space-between;
} */

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

h2 {
  font-family: var(--cta-font);
  font-size: var(--h1-size);
  color: var(--cta-color);
  text-align: center;
}

p {
  font-family: var(--p-font);
  font-size: var(--p-size);
  margin-bottom: 20px;
}

.infotext {
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  width: 90%;
  padding: 10px;
  justify-self: center;
}

.teaser1 {
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  padding: 10px;
  transition: 0.3s;
  &:hover {
    background-color: var(--secondary-green);
    color: var(--prime-green);
  }
}

.teaser1 a:hover h2 {
  color: var(--prime-green);
}

a {
  text-decoration: none;
  color: black;
}
