.logo {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  color: var(--prime-green);
}

header li {
  gap: 15px;
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  justify-content: baseline;
  transition: 0.2s;
  &:hover {
    background-color: var(--cta-color);
  }
}

header li a {
  font-family: var(--nav-font);
}

/* ul {
  display: flex;
  justify-content: space-between;
} */

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

p {
  font-family: var(--p-font);
  font-size: var(--p-size);
  margin-bottom: 20px;
}

.infotext {
  background-color: var(--prime-green);
  border: 2px solid var(--secondary-green);
  width: 90%;
  padding: 10px;
}
