.hero {
  /* color: white; */
  background-color: var(--secondary-green);
  border: 2px solid var(--details-green);
  text-align: baseline;
  padding-top: 10px;
}

.hero img {
  width: 200px;
  /* height: 50px; */
  object-position: center;
  padding: 15px;
  /* aspect-ratio: 16 / 1;
  height: 100%;
  object-position: 70% center; */
}

@media (width > 675px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-gap: 10px;
    /* color: white; */
  }
}
