* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/*| ---------- ---------- ---------- |*/
body {
  /*|Layout|*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*|Styling|*/
}
/*| ---------- ---------- |*/
header,
main,
footer {
  /*|Layout|*/
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*|Styling|*/
}
/*| ---------- ---------- |*/
header {
  /*|Layout|*/
  padding: 1rem 10%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  /*|Styling|*/
  background-color: transparent 0.5 var(--primary-green);
  .logo_wrapper {
    /*|Layout|*/
    padding: 0.5rem 2rem;
    /*|Styling|*/
    .logo {
      /*|Layout|*/
      /*|Styling|*/
      font-size: 50px;
    }
  }
  a {
    /*|Layout|*/
    padding: 1rem;
    /*|Styling|*/
    background-color: var(--primary-green);
  }
  ul {
    /*|Layout|*/
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*|Styling|*/
    list-style: none;
    li {
      /*|Layout|*/
      padding: 0.5rem 1rem;
      /*|Styling|*/
    }
  }
}
/*| ---------- |*/
main {
  /*|Layout|*/
  height: 75vh;
  width: 80%;
  /*|Styling|*/
}
/*| ---------- |*/
footer {
  /*|Layout|*/
  padding: 2rem;
  /*|Styling|*/
  background-color: var(--secondary-green);
}
/*| ---------- ---------- ---------- |*/
